<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Elden_Ring_Death_Counter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Elden_Ring_Death_Counter.Properties.Settings>
            <setting name="SaveFileLocation" serializeAs="String">
                <value>C://Test//File//Path</value>
            </setting>
            <setting name="IncrementKey" serializeAs="String">
                <value>T</value>
            </setting>
            <setting name="IncrementModifier" serializeAs="String">
                <value>Ctrl</value>
            </setting>
            <setting name="IncrementByValue" serializeAs="String">
                <value>1</value>
            </setting>
        </Elden_Ring_Death_Counter.Properties.Settings>
    </userSettings>
</configuration>